{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    /* Add your custom styles here */
</style>
<h1>Signup Form</h1>
<div class="container border p-3 rounded col-4">
    <form method="post" action="{% url 'notes:signup' %}" id="signupForm">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="signup" type="submit" value="Signup">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
    $(document).on('submit', '#signupForm', function(e) {
        e.preventDefault();
        var name = $('#id_first_name').val();
        var username = $('#id_username').val();
        var email = $('#id_email').val();
        var password = $('#id_password').val();
        var confirm_password = $('#id_confirm_password').val();

        // ajax call
        $.ajax({
            type: 'POST',
            url: '{% url "notes:signup" %}',
            data: {
                first_name: name,
                username: username,
                email: email,
                password: password,
                confirm_password: confirm_password,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'json',
            success: function(response) {
                if (response.status === 'success') {
                    alert(response.message);
                    window.location.href = '{% url "notes:login" %}';
                    $('#id_first_name').val('');
                    $('#id_username').val('');
                    $('#id_email').val('');
                    $('#id_password').val('');
                    $('#id_confirm_password').val('');
                } else {
                    alert(response.message);
                    // Optionally, you can display form errors to the user here
                }
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
</script>


{% endblock content %}
