{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Signup Form</h1>
<div class="container border p-3 rounded col-4">
    <form method="post" action="{% url 'notes:signup' %}" id="signupForm">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="signup" type="submit" value="Signup">
    </form>
    <div id="errorMessages" style="color: red;"></div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
    $(document).on('submit', '#signupForm', function(e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url "notes:signup" %}',
            data: {
                first_name: $('#id_first_name').val(),
                username: $('#id_username').val(),
                email: $('#id_email').val(),
                password: $('#id_password').val(),
                confirm_password: $('#id_confirm_password').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            dataType: 'json',
            success: function(response) {
                if(response.status === 'success'){
                    alert(response.message);
                } else {
                    $('#errorMessages').html('');
                    $.each(response.errors, function(key, value) {
                        $('#errorMessages').append('<p>' + key + ': ' + value[0].message + '</p>');
                    });
                }
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
</script>
{% endblock content %}
