.nav{
    margin-left: 30px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #000; /* Ensure text is dark */
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #0056b3; /* Change on hover */
  }
  
  .navbar-light .navbar-nav .dropdown-menu {
    background-color: #fff; /* Dropdown background color */
  }
  
  .navbar-light .navbar-nav .dropdown-menu .dropdown-item {
    color: #000; /* Dropdown item text color */
  }
  
  .navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa; /* Hover effect */
  }
  
  .form-control {
    border-radius: 0.25rem; /* Slightly rounded corners */
  }
  
  .btn-outline-success {
    border-color: #28a745;
    color: #28a745;
  }
  
  .btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
  }


h1{
    color: rgb(34, 105, 167);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
.signup{
    color: aliceblue;
    background-color: rgb(34, 105, 167); 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}
.note{
  text-align: center;
  color: rgb(17, 44, 199);
  margin: 3px;
  padding-bottom: 3px;
}